#main h1 {
  color: white;
  font-size: 48px;
  font-family: 'Fascinate', cursive;
  padding: 20px;
}

#main {
  text-align: center;
  /*background: black;*/
}

.header{
  background: black;
}

.movie-container {
  display: flex;
  overflow: auto;
}

.movie-card {
  background-color: white;
  margin: 10px;
  display: block;
  width: 342px;
  box-shadow: 5px 5px 3px #888888;
}

.movie-card img:hover {
  opacity: 0.5;
}

.signIn, .favs{
  position: absolute;
  top: 30px;
  right: 40px;
}
