body {
  background-color: #f6f6f6;
}

#main h1 {
  color: red;
  font-size: 48px;
  font-family: 'Limelight', cursive;
  padding: 20px;
}

#main {
  text-align: center;
}

.header{
  background: black;
  text-align: left;
}

.movie-container {
  display: flex;
  overflow: auto;
}

.movie-card {
  background-color: white;
  margin: 10px;
  /*display: block;*/
  width: 342px;
  box-shadow: 5px 5px 3px #888888;
}

/*.movie-card img:hover {
  opacity: 0.5;
}*/

.movie-title {
  margin: 10px 0;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 18px;
}

.movie-overview {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Merriweather';
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.star {
  margin-bottom: 5px;
  font-size: 48px;
}

.star:hover {
  color: #e5c100;
  cursor: pointer;
}

.disabled-bth {
  color: #e5c100;
  cursor: pointer;
}

input {
  width: 250px;
  font-size: 18px;
  border-radius: 4px;
  margin: 10px;
}
.user-btn {
  margin: 10px;
  width: 100px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
}

.user-btn {
  background-color: black;
  color: #f6f6f6;
}


.signIn, .favs, .back-btn {
  width: 150px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #f6f6f6;
  color: black;
  position: absolute;
  top: 30px;
  right: 40px;
  border-radius: 4px;
}

.sign-up-text {
  font-family: sans-serif;
  margin-top: 20px;
  font-size: 24px;
}

.message {
  display: inline-block;
}

button:hover {
  color: red;
}
